<div>
  <h1><%= @event.title %></h1>
  <h4><%= @event.formatted_date %></h4>
  <h4><%= @event.formatted_time %></h4>
  <h3><%= @event.location %></h3>
  <p><%= @event.description %></p>
  <h3 class="event-creator">
    Created by <%= @event.creator.email %>
  </h3>
</div>

<% if user_signed_in? %>
    <% if @event.creator == current_user %>
      <%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "Destroy this event", @event, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
<%end%>

<div>
  <%= link_to "Back to events", event_path %>
</div>